{% extends 'base.html.twig' %}
{% block boody %}
<section class="container">
    <div>
        <div class="d-flex flex-column-reverse ">
            {% for user in user %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@{{  }}</h5>
                        <p class="card-title">{{ user_posts.post.subject }}</p>
                        <p>{{ micro_post.date |date('D d M-Y H:m') }}</p>
                        <p class="card-text">
                            {{ micro_post.text }}
                        </p>
                        <a class="btn btn-primary" href="{{ path('micro_post_show', {'id': micro_post.id}) }}">view</a>
                    </div>
                </div>
                <br>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </div>
</section>
{% endblock %}