body {
    background-color: lightgray;
}

.btn-primary{
    background-color: #22e62f !important;
    border: red !important;
    color: white !important;
    }

.btn-primary:active{
    background-color: #cf11cb !important;
    border: red !important;
    color: white !important;

}

.navbar a {
    font-family: 'Comfortaa', cursive !important;
}



