body {
    background-color: #212529 !important;
}

.btn-primary{
    background-color: #f3911d !important;
    border: #f3911d !important;
    color: white !important;
    }

.btn-primary:active{
    background-color: #cf11cb !important;
    border: red !important;
    color: white !important;
    transition: 0.1ms !important ;

}
.navbar a {
    font-family: 'Comfortaa', cursive !important;
}

nav{
    border-bottom: 1px solid #535d67 !important;
}

.card:hover {
    /*box-shadow: 0px 5px 0px 1px #f3911d !important;*/
    background-color: #212529 !important;
    color: white !important;
    transition: 0.3s ease-in;
    border: 1px solid #f3911d;
}


.card-title , .card-text {
    font-family: 'Share Tech Mono', monospace !important;
}





