body {
    background-color: lightgray;
}

.btn-primary{
    background-color: #f3911d !important;
    border: #f3911d !important;
    color: white !important;
    }

.btn-primary:active{
    background-color: #cf11cb !important;
    border: red !important;
    color: white !important;
    transition: 0.1ms !important ;

}

.navbar a {
    font-family: 'Comfortaa', cursive !important;
}




